<div class="mt-3">
  <h2>{{title}}</h2>
  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">url</th>
        <th scope="col">owner</th>
        <th scope="col">version</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let instance of instances">
        <td>
          {{instance.id}}
        </td>
        <td>
          {{instance.url}}
        </td>
        <td>
          {{instance.owner}}
        </td>
        <td>
          {{instance.version}}
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
  <h2>Add new instance</h2>
  <div class="form-group">
    <label for="ownerInput">Owner</label>
    <input
      type="text"
      class="form-control"
      id="ownerInput"
      placeholder="Enter owner"
      [(ngModel)]="newInstanceOwner">

    <label for="urlInput">Url</label>
    <input
      type="url"
      class="form-control"
      id="urlInput"
      placeholder="Enter url"
      [(ngModel)]="newInstanceUrl">

    <label for="versionInput">Version</label>
    <input
      type="text"
      class="form-control"
      id="versionInput"
      placeholder="Enter version"
      [(ngModel)]="newInstanceVersion">
  </div>
  <button
    class="btn btn-primary"
    type="button"
    (click)="addInstance()">
    Add instance
  </button>
</div>
